<launch>

  <arg name="username" default="user" />
  <arg name="password" default="$(env SPOT_USER_PASSWORD)" />
  <arg name="network" default="$(env SPOT_CONN)"/>
  <arg name="hostname" default="$(env SPOT_IP)"/>
  <arg name="estop_timeout" default="9.0"/>
  <arg name="cameras_used" default="[]" />

  <include file="$(find spot_driver)/launch/driver.launch">
    <arg name="username" value="$(arg username)"/>
    <arg name="password" value="$(arg password)"/>
    <arg name="hostname" value="$(arg hostname)"/>
    <arg name="estop_timeout" value="$(arg estop_timeout)"/>
    <arg name="cameras_used" value="$(arg cameras_used)" />
  </include>

</launch>
