[submodule "turtlebot/src/turtlebot3_simulations"]
	path = turtlebot/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "movo/src/kinova-movo"]
	path = movo/src/kinova-movo
	url = git@github.com:zkytony/kinova-movo.git
[submodule "spot/spot-sdk"]
	path = spot/spot-sdk
	url = https://github.com/boston-dynamics/spot-sdk.git
[submodule "spot/ros_ws/src/geometry2"]
	path = spot/ros_ws/src/geometry2
	url = https://github.com/ros/geometry2
[submodule "spot/ros_ws/src/spot_ros"]
	path = spot/ros_ws/src/spot_ros
	url = git@github.com:zkytony/spot_ros.git
[submodule "shared/ros/sloop_ros"]
	path = shared/ros/genmos_object_search
	url = git@github.com:zkytony/sloop_ros.git
