[submodule "turtlebot/src/turtlebot3_simulations"]
	path = turtlebot/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations.git
[submodule "movo/src/kinova-movo"]
	path = movo/src/kinova-movo
	url = git@github.com:zkytony/kinova-movo.git
[submodule "spot/src/spot_ros"]
	path = spot/src/spot_ros
	url = https://github.com/clearpathrobotics/spot_ros.git
[submodule "spot/src/geometry2"]
	path = spot/src/geometry2
	url = https://github.com/ros/geometry2
