<launch>
  <!-- This launch file starts the rtabmap system -->
  <!-- This follows the "Kinect + Odometry + Fake 2D laser from Kinect" tutorial -->
  <!-- with various refactoring -->

  <arg name="camera1" default="frontleft"/>
  <arg name="camera0" default="frontright"/>

  <arg name="stream_ns" default="stream_image"/>

  <group ns="rtabmap">
    <!-- spot depth cloud to laser scan (this is necessary to create grid map) -->
    <include file="$(find rbd_spot_perception)/launch/include/fake_scan_from_depth.launch">
      <arg name="camera" value="$(arg camera0)"/>
    </include>

    <include file="$(find rbd_spot_perception)/launch/include/fake_scan_from_depth.launch">
      <arg name="camera" value="$(arg camera1)"/>
    </include>

  </group>
</launch>
