<launch>
  <!-- Uses octomap_server to publish an Octomap representation of
       the point cloud and a projected 2D occupancy grid map -->
  <arg name="map_path" default="$(find rbd_spot_perception)/maps/bosdyn/cit_first_floor"/>

  <include file="$(find rbd_spot_perception)/launch/graphnav_map_publisher.launch">
    <arg name="map_path" value="$(arg map_path)"/>
  </include>

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen" args="">
    <remap from="cloud_in" to="/graphnav_map_publisher/graphnav_points"/>
    <param name="frame_id" value="graphnav_map"/>
    <param name="base_frame_id" value="graphnav_map"/>
    <param name="sensor_model/max_range" value="20.0" />
  </node>

</launch>
