<launch>
  <arg name="map_name" default="cit_first_floor"/>
  <!-- The frame_id of the point cloud -->
  <arg name="frame_id" default="graphnav_map"/>
  <!-- The topic that the point cloud will be published at -->
  <arg name="topic" default="graphnav_points"/>
  <arg name="rate" default="1.0"/>
  <arg name="output" default="screen" />
  <!-- parameters for outlier removal -->
  <arg name="mean_k" default="10"/>
  <arg name="stdev" default="0.05"/>

  <param name="map_name" value="$(arg map_name)"/>

  <node pkg="rbd_spot_perception" type="graphnav_map_publisher"
        name="graphnav_map_publisher" output="screen"
        args="$(find rbd_spot_perception)/maps/bosdyn/$(arg map_name)">
    <param name="frame_id" value="$(arg frame_id)"/>
    <param name="topic" value="$(arg topic)"/>
    <param name="rate" value="$(arg rate)"/>
  </node>

  <node pkg="rbd_spot_perception" type="graphnav_publish_waypoints.py"
        name="graphnav_waypoints_publisher"
        args="--path $(find rbd_spot_perception)/maps/bosdyn/$(arg map_name) --viz" output="$(arg output)">
  </node>

  <!-- Statistical outlier removal -->
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="$(arg output)" />
  <node pkg="nodelet" type="nodelet"
        name="statistical_filter"
        args="load pcl/StatisticalOutlierRemoval pcl_manager">
    <param name="mean_k" value="$(arg mean_k)" />
    <param name="stddev" value="$(arg stdev)" />
    <remap from="~input" to="/graphnav_map_publisher/graphnav_points"/>
    <remap from="~output" to="/graphnav_map_publisher/graphnav_points_filtered"/>
  </node>

</launch>
